body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  min-height: 100vh; /* Ensure full viewport height */
  background-color: #f0f0f0; /* Background color for the body */
}
/* Add your CSS styles here */
.input-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 250px; /* Adjust the width as needed */
    margin-bottom: 5px;
  }
  
  #phone {
    flex: 1;
    padding-right: 30px; /* Reserve space for the provider logo */
    height: 50px;
    border-radius: 20px;
  }
  
  .provider-logo {
    position: absolute;
    top: 50%;
    right: 5px; /* Adjust the position as needed */
    transform: translateY(-50%);
    width: 50px; /* Adjust the size of the logo */
    height: 50px; /* Adjust the size of the logo */
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
  }
  
  .provider-logo.mtn {
    background-image: url('img/mtn.png');
  }
  

  .error {
    display: none;
    
  }
  .error.errormsg {
    border: 2px solid red;
    display: inline;
    
  }